.DS_Store
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.vscode/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
*.orig
*.DotSettings.user
*.trx 
**/.bin/
**/.vite/
**/node_modules/**
**/*.nupkg
Sharpino.Lib/lib/Sharpino.Lib.dll
Sharpino.Lib/lib/Sharpino.Lib.xml
**/Sharpino.Lib.Core.dll
**/Sharpino.Lib.Core.xml
**/Sharpino.Lib.dll
**/Sharpino.Lib.xml
Sharpino.Lib/lib/Sharpino.Lib.xml
Sharpino.Lib/Sharpino.Lib.*.nupkg
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/
__queuestorage__/
