.DS_Store
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.vscode/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
*.orig
*.DotSettings.user
*.trx
Sharpino.Lib/Sharpino.Lib.1.0.0.nupkg
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/
__queuestorage__/
