# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[objs]/
[Bb]uild/
[Ll]ib/
[Pp]ublic/
[Rr]elease-bin/
[Tt]est[Rr]esult/
[Tt]est[Rr]esult-*
[~#$.]*$FICTIONAL$
[Bb]uild*
[Dd]ebug-*
[Ii]ntermediate*
[Ll]ocks-*
[Ss]taging*
obj/
*.cache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.pdb
*.vspx
*.vsss
*.vstf
*.vstx
*.vtx
*.log
*.tlog
*.tracelog
*.vlog
*.dsw
*.dsp
*.bsc
*.bsc
*.exe
*.exe.config
*.pdb
*.config
*.nuspec
*.snk
*.skin
*.dll
*.deploy
*.deploy.*.xml
*.publish.xml
*.publish.htm
*.publish.log
*.publish.rtf
*.publish.mht
*.publish.pdf
*.publish.bak
*.publishmap
*.publishmap.xml
*.publishmap.xsd
*.sign
*.snk
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
*.lic
*.licx
